<div class="mt-4">
    <div class="row">
        {{#each courses}}
        <div class="col-sm-6 col-lg-4">
            <div class="card">
                <a href="/courses/{{this.slug}}" class="img">
                    <img src="{{this.image}}" alt="{{this.name}}">
                </a>
                <div class="content">
                    <a href="/courses/{{this.slug}}">  
                       <h5 class="name">{{this.name}}</h5> 
                    </a>
                    <p class="description">{{this.description}}</p>
                    <button class="btn-by">Mua khóa học</button>
                </div>
            </div>
        </div>
        {{/each}}
        
    </div>
</div>



